@import '../../index.css';

.button {
    background-color: transparent;
    border-style: solid;
    font-size: 16px;
    cursor: pointer;
    border-width: 2px;
    border-color: var(--light-text);
    border-radius: 10px;
    color: var(--light-text);
    height: 30px;
}

.button:hover{
    color: var(--white);
    background-color: var(--light-text);
}

.langActive{
    color: var(--white);
    background-color: var(--light-text);
}