@import '../../index.css';

.button {
    background-color: transparent;
    border-style: solid;
    font-size: 1rem;
    cursor: pointer;
    border-width: .1rem;
    border-color: var(--light-text);
    border-radius: 0.5rem;
    color: var(--light-text);
    padding: 0.15rem 0.5rem;
}

.button:hover{
    color: var(--white);
    background-color: var(--light-text);
}

.langActive{
    color: var(--white);
    background-color: var(--light-text);
}