@import '../../index.css';



.row{
    display: flex;

}

/* card section */

.card{
    background-color: #fff;
    color: var(--text);
    border-radius: 15px;
    padding: 20px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    box-shadow: 8px 8px 8px lightgray;
}

.card p{
    padding: 0;
    margin: 0;
    word-break: break-word;
}

.card .content{
    flex: 1;
    display: flex;
    max-width: 100%;
}

.card .contentEdit{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card .contentEdit label{
    display:flex;
    flex-direction: column;
    color: var(--light-text);
}
  
.card .contentEdit textarea{
    min-height: 10rem;
    border-radius: 1rem;
    border-style: solid;
    resize: none;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
    color:var(--light-text)
}
  
.card .contentEdit textarea:focus{
    outline-color: var(--primary);
}

.card .content .entryText{
    flex: 1;
}

.card .content .delete{
    width: 20px;
    cursor: pointer;
    align-self: flex-start;
    margin-right: -15px;
    padding-left: 15px;
}

.card .options{
    
    align-self: end;
    display: flex;
    gap: 1rem;
    color: var(--light-text);
    font-size: 18px;
    margin-top: 15px;
    user-select: none;
}

.card .options .langOptions {
    display: flex;
    gap: 10px;
}


.card .options .langOptions .langButton {
    background-color: transparent;
    border-style: solid;
    font-size: 16px;
    cursor: pointer;
    border-width: 2px;
    border-color: var(--light-text);
    border-radius: 10px;
    color: var(--light-text);
    height: 30px;
}

.card .options .langOptions .langButton:hover{
    color: var(--white);
    background-color: var(--light-text);
}

.card .options .langOptions .langButton:active{
    color: var(--white);
    background-color: var(--light-text);
}

.card .options .cardOptions {
    display: flex;
    gap: 1rem;
    height: 30px;
    flex: 1;
    width: 4rem;
}

.card .options .cardOptions .editIcon {
    cursor: pointer;
    width: 2rem;
}

.card .options .cardOptions .shareIcon {
    width: 2rem;
    margin-top: -3px;
    cursor: pointer;
}

.card .editOptions button {
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border-style: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
  }
  
  .card .editOptions button:hover {
    background-color: var(--light-text);
  }










/* date section */

.date{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 0px 10px 10px;
    color: var(--light-text);
    user-select: none;
}

/*
.hideDate{
    visibility: hidden;
}
*/

.date .day{
    font-weight: 700;
    font-size: 46px;
    text-align: end;
    line-height: 110%;
}

.date .month{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    text-align: end;
    line-height: 110%;
    justify-content: end;
}

.date .month .gatsu{
    font-weight: 700;
    margin-right: -2px;
}

.date .year{
    font-size: 36px;
    text-align: end;
    line-height: 110%;
}


.hidden {
    display: none;
}