@import '../../index.css';


.calendarNavRow {
    display: flex;
    padding: 0px 20px;
}

.date {
    flex: 1;
    font-size: 24px;
    color: var(--light-text);
    font-weight: 500;
}

.date .bold {
    font-weight: 700;
    margin-right: 5px;
    margin-left: 2px;
}

.calendarNav {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    gap: 5px;

}

.calendarNav .calendarButton {
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: solid;
    border-color: var(--light-text);
    border-radius: 15px;
    background-color: var(--white);
    cursor: pointer;
    margin-top:-5px;
}

.calendarNav .calendarButton:hover {
    background-color: var(--tertiary);
}

.calendarNav .calendarButton .calendarIcon {
    width: 30px;
}

.calendarNav .calendarButton .month {
    font-size: 28px;
    font-weight: 900;
    color: var(--light-text)
}

.calendarNav .arrow {
    width: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;

}