@import '../../index.css';

.date {
    flex: 1;
    font-size: 24px;
    color: var(--light-text);
    font-weight: 500;
}

.date .bold {
    font-weight: 700;
    margin-right: 5px;
    margin-left: 2px;
}

.calendarNav {
    display: flex;
    justify-content: end;
    gap: 5px;

}

.calendarNav .calendarButton {
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: solid;
    border-color: var(--light-text);
    border-radius: 15px;
    background-color: var(--white);
    cursor: pointer;
    font-size: 28px;
    font-weight: 400;
    color: var(--light-text)
}



.calendarNav .calendarButton:hover {
    background-color: var(--tertiary);
}

.calendarNav .buttonOpen {
    background-color: var(--tertiary);
}


.calendarNav .calendarButton .calendarIcon {
    width: 30px;
}

.calendarNav .calendarButton .kanji {
    font-size: 28px;
    font-weight: 600;
    color: var(--light-text);
    margin-bottom: -3px;
}

.calendarNav .arrow {
    width: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;

}


.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.calendarNav .calendarDrop {
    position: absolute;
    padding: 1rem;
    margin-top: 3.5rem;
    width: 160%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    visibility: hidden;
    background-color: var(--white);
    border-style: solid;
    border-color: var(--primary);
    border-radius: 1rem;
}

.calendarNav .open {
    visibility: visible;
}


@import 'react-calendar/dist/Calendar.css';
